<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="DeliviEntities" connectionString="metadata=res://*/ADOApp.ModelSaleMan.csdl|res://*/ADOApp.ModelSaleMan.ssdl|res://*/ADOApp.ModelSaleMan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8M4K064\EKZ;initial catalog=Delivi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>